			<div class="post" id="post-1">
				<h2>Foundation</h2>
				
				<div class="entry">
					<p>In the fall of 2000, the Risk Adjustment Network (RAN) was established by health economists from the Netherlands, Belgium, Germany, Israel, and Switzerland. Currently, the network also includes representatives from Ireland, Australia, and the United States.</p>
				</div>
				
				<h2>Mission statement</h2>
				
				<div class="entry">
					<p>Our mission is to promote the international exchange of scientific findings in the field of risk equalization systems and to enhance the application of this knowledge in the political process. We also disseminate our expertise on the science and practice of regulated competition in health insurance and produce international comparison papers on specific topics.</p>
				</div>
			</div>

			<div class="post" id="post-2">
				<h2>Recently completed RAN-projects (since 2018)</h2>
				
				<div class="entry">
				<ul>
					<li class="page_item">Van Kleef, R.C., M. Reuser, T.G. McGuire, K. Beck, J. Wasem, S. Brammli-Greenberg, J. Armstrong, E. Schokkaert, F. Paolucci, and R.P. Ellis (2024). "Scope and Incentives for Risk Selection in Health Insurance Markets With Regulated Competition: A Conceptual Framework and International Comparison" Medical Care Research and Review. <a href="https://doi.org/10.1177/10775587231222584" target="_blank">https://doi.org/10.1177/10775587231222584</a>
					<li class="page_item">Van de Ven, W.P.M.M., K. Beck, F. Buchner, E. Schokkaert, F.T. Schut, A. Shmueli, J. Wasem (2024). Preconditions for efficiency and affordability in competitive healthcare markets: Are they fulfilled in Belgium, Germany, Israel, the Netherlands and Switzerland? Ten years later. Health Policy 146. <a href="https://doi.org/10.1016/j.healthpol.2024.105099" target="_blank">https://doi.org/10.1016/j.healthpol.2024.105099</a>
					<li class="page_item">Trottmann, M., P.J.A. Stam, J.S. Visser, and S. Brammli-Greenberg (2023). Balancing between competition and regulation in healthcare markets. Health Economics, Policy and Law: 1-10. <a href="https://doi.org/10.1017/s1744133123000312" target="_blank">https://doi.org/10.1017/s1744133123000312</a>
					<li class="page_item">Douven, R., L. Kauer, S. Demme, F. Paolucci, W.P.M.M. van de Ven, J. Wasem & X. Zhao (2022). Should administrative costs in health insurance be included in the risk-equalization? An analysis of five countries. European Journal of Health Economics 23: 1437-1453. <a href="https://doi.org/10.1007/s10198-022-01436-y" target="_blank">https://doi.org/10.1007/s10198-022-01436-y</a>
					<li class="page_item">McGuire, T.G., S. Schillo, and R.C. van Kleef (2021). Very High and Low Residual Spenders in Private Health Insurance Markets: Germany, The Netherlands and the US Marketplaces. European Journal of Health Economics 22: 35-50. <a href="https://doi.org/10.1007/s10198-020-01227-3" target="_blank">https://doi.org/10.1007/s10198-020-01227-3</a>
					<li class="page_item">McGuire, T.G., S. Schillo, and R.C. van Kleef (2020). Reinsurance, Repayments, and Risk Adjustment in Individual Health Insurance: Germany, The Netherlands and the U.S. Marketplaces. American Journal of Health Economics 6: 139-168. <a href="https://doi.org/10.1086/706796" target="_blank">https://doi.org/10.1086/706796</a>
					<li class="page_item">McGuire T.G., R.C. van Kleef (editors), and many RAN-members (2018). Risk Adjustment, Risk Sharing and Premium Regulation in Health Insurance Markets: Theory and Practice, Elsevier. <a href="https://doi.org/10.1016/B978-0-12-811325-7.00021-X" target="_blank">https://doi.org/10.1016/B978-0-12-811325-7.00021-X</a>
				</ul>
				</div>
			</div>

