			<div class="post" id="post-4">
				<h2><a href="" rel="bookmark" title="">Consumer Mobility in Social Health Insurance Markets: A Five-Country Comparison</a></h2>
				<small>International comparison paper <!-- by Euro --></small>
				
				<div class="entry">
<p>During the 1990s, the social health insurance schemes of Germany, the Netherlands, Switzerland, Belgium and Israel were significantly reformed by the introduction of freedom of choice (open enrolment) of health insurer. This was introduced alongside a system of risk adjustment to compensate health insurers for enrolees with predictable high medical expenses. Despite the similarity in the health insurance reforms in these countries, we observe that both the rationale behind these reforms and their impact on consumer choice vary widely.
</p>
<p>
In the RAN-article "Consumer mobility in social health insurance markets: a five-country comparison" we seek to explain the observed variation in switching rates by cross-country comparison of the potential determinants of health insurer choice. We conclude that differences in choice setting, and in the net benefits of switching, offer a plausible explanation for the large differences in consumer mobility.
</p>
<p>
We discuss the policy implications of our cross-country comparison. We argue that the optimal switching rate crucially depends on the goals of the reforms and the quality of the risk-adjustment system. In view of this, we conclude that switching rates are currently too low in the Netherlands, and an active government policy to encourage consumer mobility seems warranted. In Germany and Switzerland, high switching rates call for an improvement of the rather poor risk-adjustment systems. Given low switching rates in Israel and Belgium, improving risk adjustment is less urgent, but still required in the long run.
</p>

<p><b>Publications</b></p>
<ul>

<li>T. Laske-Aldershof, F.T. Schut, K Beck, S. Gress, A. Shmueli, and C. van de Voorde, Consumer mobility in social health insurance markets: a five-country comparison, Applied Health Economics and Health Policy 3 (2004), pp. 229-241.</li>

</ul>
				</div>
			</div>