			<div class="post" id="post-5">
				<h2><a href="" rel="bookmark" title="">Supplementary health insurance as a tool for risk-selection in mandatory basic health insurance markets: A Five-Country Comparison</a></h2>
				<small>International comparison paper <!-- by Euro --></small>
				
				<div class="entry">

<p>As the share of supplementary health insurance (SI) in health care finance is likely to grow, SI may become an increasingly attractive tool for risk-selection in basic health insurance (BI). In the RAN-article "Supplementary health insurance as a tool for risk selection in mandatory basic health insurance markets: a five country comparison", we develop a conceptual framework to assess the probability that insurers will use SI for favourable risk-selection in BI. We apply our framework to five countries in which risk-selection via SI is feasible: Belgium, Germany, Israel, the Netherlands, and Switzerland. For each country, we review the available evidence of SI being used as selection device. We find that the probability that SI is and will be used for risk-selection substantially varies across countries. Finally, we discuss several strategies for policy makers to reduce the chance that SI will be used for risk-selection in BI markets.</p>

<p><b>Publications</b></p>
<ul>

<li>F. Paolucci, F.T. Schut, K. Beck, S. Gress, C. van de Voorde, and I. Zmora, Supplementary health insurance as a tool for risk selection in mandatory basic health insurance markets: a five country comparison, Health Economics, Policy and Law 2 (2007), pp. 173-192.</li>

</ul>
				</div>
			</div>