			<div class="post" id="post-6">
				<h2><a href="" rel="bookmark" title="">Acceptable costs and risk adjustment: policy choices and ethical trade-offs</a></h2>
				<small>International comparison paper <!-- by Euro --></small>
				
				<div class="entry">
<p>The main objective of risk adjustment in systems of regulated competition on health insurance markets is the removal of incentives for undesirable risk selection. In the RAN-article "Acceptable costs and risk adjustment: policy choices and ethical trade-offs" we introduce a simple conceptual framework to clarify how the definition of "acceptable costs" and the distinction between legitimate and illegitimate risk adjusters imply difficult ethical trade-offs between equity, avoidance of undesirable risk selection and cost-effectiveness. Focusing on the situation in Belgium, Germany, Israel, the Netherlands and Switzerland, we show how differences in the importance attached to solidarity and in the beliefs about market efficiency, have led to different decisions with respect to the definition of the basic benefits package, the choice of risk-adjusters, the possibilities of managed care, the degree of consumer choice and the relative importance of income-related financing sources in the overall system.</p>

<p><b>Publications</b></p>
<ul>

<li>E. Schokkaert, K. Beck,  A. Shmueli, W.P.M.M. van de Ven, C. van de Voorde, and J. Wasem, 2006, Acceptable costs and risk adjustment: policy choices and ethical trade-offs. Submitted.</li>

</ul>
				</div>
			</div>